[submodule "Sp26/CSCE763/Course_Assignments/Project/marine-radar-detection"]
	path = Sp26/CSCE763/Course_Assignments/Project/marine-radar-detection
	url = https://github.com/j-vaught/marine-radar-detection.git
